@model VideoParam

<h3 class="my-5">
    Video clip data
</h3>

<div class="row gx-5">

    <table>
        <tr><th>ID</th><th>@Model.Id</th></tr>

        <tr><td>FileId</td><td>@Model.FileId</td></tr>
        <tr><td>ImageSize</td><td>@Model.ImageSize</td></tr>
        <tr><td>Duration</td><td>@Model.Duration</td></tr>
        <tr><td>Rok</td><td>@Model.Rok</td></tr>
        <tr><td>MimeType</td><td>@Model.MimeType</td></tr>
        <tr><td>Video</td><td>@Model.Video</td></tr>
        <tr><td>Audio</td><td>@Model.Audio</td></tr>
        <tr><td>Subtitle</td><td>@Model.Subtitle</td></tr>
        <tr><td>Other</td><td>@Model.Other</td></tr>


    </table>

</div>

