@model StoreFile 

<h3 class="my-5">
    File data
</h3>

<div class="row gx-5">

    <table>
        <tr><th>ID</th><th>@Model.ID</th></tr>

        <tr><td>Name</td><td>@Model.Name</td></tr>
        <tr><td>Path</td><td>@Model.Path</td></tr>
        <tr><td>IsDir</td><td>@Model.IsDir</td></tr>
        <tr><td>Filedate</td><td>@Model.Filedate</td></tr>
        <tr><td>Len</td><td>@Model.Len</td></tr>
        <tr><td>Del</td><td>@Model.Del</td></tr>

    </table>

</div>

